<div id='iavouch' class="iavouch_3_reset" style="color:black;">
  <div id="iavouch_mast">
    <div class="iavouch_lanyard_wrapper"> 
      <div class="comments">
        
        
				<%= render :partial => 'shared/recording', :collection => @remoteurl.recordings %>
             
        
      </div>  
      <div style="clear:both"></div>
    </div>
  </div> 
</div>