<div id='iavouch' class="iavouch_3_reset" style="color:black;">
  <div id="iavouch_mast">
    <div class="iavouch_lanyard_wrapper"> 
      <div class="comments">
        
        		<%# takes id's not permalinks %>
				<%= render :partial => 'shared/recording', :object => @recording %>
        
      </div>  
      <div style="clear:both"></div>
    </div>
  </div> 
</div>


<!-- <#%= render :text => @recording.site_name %> -->