/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Cochin";
  src: url('../fonts/fonts/cochin.ttf') format('truetype'); }

/* line 21, ../../app/stylesheets/admin.scss */
body {
  background-color: white; }

/* line 22, ../../app/stylesheets/admin.scss */
body#splash {
  background-color: white; }

/* line 24, ../../app/stylesheets/admin.scss */
.top-spacer {
  height: 1.2em;
  background-color: #043177;
  color: #FFFFFF; }
  /* line 28, ../../app/stylesheets/admin.scss */
  .top-spacer div {
    height: 1.2em;
    width: 960px;
    margin-left: auto;
    margin-right: auto; }
    /* line 33, ../../app/stylesheets/admin.scss */
    .top-spacer div p {
      margin-right: 10px;
      margin-left: 10px;
      float: right;
      color: #FFFFFF; }
      /* line 38, ../../app/stylesheets/admin.scss */
      .top-spacer div p a {
        color: inherit; }

/* line 43, ../../app/stylesheets/admin.scss */
.columns {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 960px; }
  /* line 44, ../../app/stylesheets/admin.scss */
  .columns h2 {
    font-size: 2em;
    margin-bottom: 30px; }
  /* line 48, ../../app/stylesheets/admin.scss */
  .columns #home-splash {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 700px;
    padding-left: 120px;
    padding-right: 120px; }
    /* line 52, ../../app/stylesheets/admin.scss */
    .columns #home-splash #home-box {
      background-color: white;
      height: 400px;
      margin-top: 100px;
      -moz-box-shadow: #b1cefc 0px 0px 10px;
      -webkit-box-shadow: #b1cefc 0px 0px 10px;
      -o-box-shadow: #b1cefc 0px 0px 10px;
      box-shadow: #b1cefc 0px 0px 10px; }
      /* line 57, ../../app/stylesheets/admin.scss */
      .columns #home-splash #home-box div {
        text-align: center; }
      /* line 58, ../../app/stylesheets/admin.scss */
      .columns #home-splash #home-box #splash-content {
        font-family: "Cochin";
        display: inline;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        width: 700px;
        margin-left: 0;
        margin-right: 0; }
        /* line 59, ../../app/stylesheets/admin.scss */
        .columns #home-splash #home-box #splash-content #logo {
          font-size: 3em;
          font-weight: bold;
          text-decoration: none;
          color: #000;
          padding: 23px 25px 23px 25px; }
          /* line 65, ../../app/stylesheets/admin.scss */
          .columns #home-splash #home-box #splash-content #logo:first-letter {
            color: #075ada; }
        /* line 67, ../../app/stylesheets/admin.scss */
        .columns #home-splash #home-box #splash-content form {
          margin: 0 180px 50px 180px;
          height: 3em;
          background-color: #e2edfe;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          -o-border-radius: 5px;
          -ms-border-radius: 5px;
          -khtml-border-radius: 5px;
          border-radius: 5px;
          -moz-box-shadow: #b1cefc 0px 0px 5px;
          -webkit-box-shadow: #b1cefc 0px 0px 5px;
          -o-box-shadow: #b1cefc 0px 0px 5px;
          box-shadow: #b1cefc 0px 0px 5px; }
        /* line 68, ../../app/stylesheets/admin.scss */
        .columns #home-splash #home-box #splash-content input#email-text {
          width: 250px;
          margin-top: 15px;
          font-size: 1em;
          font-weight: bold;
          border: none;
          line-height: 1.5em;
          -moz-box-shadow: #b1cefc 0px 0px 5px;
          -webkit-box-shadow: #b1cefc 0px 0px 5px;
          -o-box-shadow: #b1cefc 0px 0px 5px;
          box-shadow: #b1cefc 0px 0px 5px; }
        /* line 69, ../../app/stylesheets/admin.scss */
        .columns #home-splash #home-box #splash-content input#email-invite {
          margin-left: 5px; }
        /* line 71, ../../app/stylesheets/admin.scss */
        .columns #home-splash #home-box #splash-content p {
          font-size: 1em; }
        /* line 72, ../../app/stylesheets/admin.scss */
        .columns #home-splash #home-box #splash-content .splash-login {
          font-size: 1.5em;
          font-weight: bold; }
          /* line 73, ../../app/stylesheets/admin.scss */
          .columns #home-splash #home-box #splash-content .splash-login a {
            text-decoration: none;
            color: black; }
  /* line 81, ../../app/stylesheets/admin.scss */
  .columns #header {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 940px;
    margin-bottom: 20px; }
    /* line 84, ../../app/stylesheets/admin.scss */
    .columns #header #logo {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 140px;
      margin: 20px 0 0px 0px;
      font-size: 1.5em; }
  /* line 90, ../../app/stylesheets/admin.scss */
  .columns #sidebar {
    padding-bottom: 20px;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px; }
    /* line 93, ../../app/stylesheets/admin.scss */
    .columns #sidebar #sidebar-menu {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 220px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      margin-left: 0;
      background-color: #e2edfe; }
      /* line 98, ../../app/stylesheets/admin.scss */
      .columns #sidebar #sidebar-menu .selected {
        font-weight: bold; }
      /* line 99, ../../app/stylesheets/admin.scss */
      .columns #sidebar #sidebar-menu .showborder {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px; }
        /* line 103, ../../app/stylesheets/admin.scss */
        .columns #sidebar #sidebar-menu .showborder:last-child {
          padding-bottom: 20px; }
        /* line 104, ../../app/stylesheets/admin.scss */
        .columns #sidebar #sidebar-menu .showborder:hover {
          background-color: #d3e4fd;
          -moz-box-shadow: #b1cefc 0px 0px 5px;
          -webkit-box-shadow: #b1cefc 0px 0px 5px;
          -o-box-shadow: #b1cefc 0px 0px 5px;
          box-shadow: #b1cefc 0px 0px 5px; }
      /* line 106, ../../app/stylesheets/admin.scss */
      .columns #sidebar #sidebar-menu a {
        text-decoration: none;
        color: #000;
        text-shadow: #fff 0 1px;
        padding: 23px 25px 23px 25px;
        font-size: 16px;
        line-height: 16px;
        display: block; }
      /* line 115, ../../app/stylesheets/admin.scss */
      .columns #sidebar #sidebar-menu .site-list {
        margin: -15px 0 0 0; }
        /* line 117, ../../app/stylesheets/admin.scss */
        .columns #sidebar #sidebar-menu .site-list p {
          text-decoration: none;
          color: #000;
          text-shadow: #fff 0 1px;
          font-weight: bold;
          font-size: 10px;
          line-height: 10px;
          font-size: 12px;
          text-decoration: none;
          margin: 0px 0px 0px 30px;
          padding: 10px 10px 10px 10px; }
          /* line 128, ../../app/stylesheets/admin.scss */
          .columns #sidebar #sidebar-menu .site-list p:hover {
            background-color: #b6d1fc; }
        /* line 130, ../../app/stylesheets/admin.scss */
        .columns #sidebar #sidebar-menu .site-list a {
          font-weight: normal;
          font-size: 10px;
          line-height: 10px;
          font-size: 12px;
          text-decoration: none;
          margin: 0px 0px 0px 30px;
          padding: 10px 10px 10px 10px; }
          /* line 138, ../../app/stylesheets/admin.scss */
          .columns #sidebar #sidebar-menu .site-list a:hover {
            background-color: #b6d1fc; }
  /* line 143, ../../app/stylesheets/admin.scss */
  .columns #main-content {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 700px; }
    /* line 145, ../../app/stylesheets/admin.scss */
    .columns #main-content #update-profile {
      height: 300px;
      border: 3px solid #c9defd;
      -moz-box-shadow: #1d73f7 1px 1px 8px;
      -webkit-box-shadow: #1d73f7 1px 1px 8px;
      -o-box-shadow: #1d73f7 1px 1px 8px;
      box-shadow: #1d73f7 1px 1px 8px; }
    /* line 146, ../../app/stylesheets/admin.scss */
    .columns #main-content h3 {
      margin: 10px 0 10px 0; }
    /* line 148, ../../app/stylesheets/admin.scss */
    .columns #main-content .banner-style-embed {
      display: none; }
    /* line 7, ../../app/stylesheets/checkboxes.scss */
    .columns #main-content .iPhoneCheckContainer {
      position: relative;
      height: 27px;
      cursor: pointer;
      overflow: hidden; }
      /* line 38, ../../app/stylesheets/checkboxes.scss */
      .columns #main-content .iPhoneCheckContainer input {
        position: absolute;
        top: 5px;
        left: 30px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
      /* line 43, ../../app/stylesheets/checkboxes.scss */
      .columns #main-content .iPhoneCheckContainer label {
        white-space: nowrap;
        font-size: 17px;
        line-height: 17px;
        font-weight: bold;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        cursor: pointer;
        display: block;
        height: 27px;
        position: absolute;
        width: auto;
        top: 0;
        padding-top: 5px;
        overflow: hidden; }
      /* line 9, ../../app/stylesheets/checkboxes.scss */
      .columns #main-content .iPhoneCheckContainer, .columns #main-content .iPhoneCheckContainer label {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none; }
    /* line 11, ../../app/stylesheets/checkboxes.scss */
    .columns #main-content .iPhoneCheckDisabled {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5; }
    /* line 14, ../../app/stylesheets/checkboxes.scss */
    .columns #main-content label.iPhoneCheckLabelOn {
      color: white;
      background: url('../images/iphone-style-checkboxes/on.png?1312336984') no-repeat;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
      left: 0;
      padding-top: 5px; }
      /* line 65, ../../app/stylesheets/checkboxes.scss */
      .columns #main-content label.iPhoneCheckLabelOn span {
        padding-left: 8px; }
    /* line 16, ../../app/stylesheets/checkboxes.scss */
    .columns #main-content label.iPhoneCheckLabelOff {
      color: #8b8b8b;
      background: url('../images/iphone-style-checkboxes/off.png?1312336984') no-repeat right 0;
      text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
      text-align: right;
      right: 0; }
      /* line 74, ../../app/stylesheets/checkboxes.scss */
      .columns #main-content label.iPhoneCheckLabelOff span {
        padding-right: 8px; }
    /* line 18, ../../app/stylesheets/checkboxes.scss */
    .columns #main-content .iPhoneCheckHandle {
      display: block;
      height: 27px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      background: url('../images/iphone-style-checkboxes/slider_left.png?1312336984') no-repeat;
      padding-left: 3px; }
    /* line 20, ../../app/stylesheets/checkboxes.scss */
    .columns #main-content .iPhoneCheckHandleRight {
      height: 100%;
      width: 100%;
      padding-right: 3px;
      background: url('../images/iphone-style-checkboxes/slider_right.png?1312336984') no-repeat right 0; }
    /* line 22, ../../app/stylesheets/checkboxes.scss */
    .columns #main-content .iPhoneCheckHandleCenter {
      height: 100%;
      width: 100%;
      background: url('../images/iphone-style-checkboxes/slider_center.png?1312336984'); }
    /* line 151, ../../app/stylesheets/admin.scss */
    .columns #main-content th label {
      margin: 0 10px 0 10px; }
    /* line 152, ../../app/stylesheets/admin.scss */
    .columns #main-content input#pixel-width {
      font-size: 0.9em;
      font-weight: bold;
      text-align: right; }
    /* line 153, ../../app/stylesheets/admin.scss */
    .columns #main-content #px {
      vertical-align: text-bottom; }
    /* line 156, ../../app/stylesheets/admin.scss */
    .columns #main-content #embed-container {
      background-color: #f0f6fe;
      margin: 10px;
      padding: 10px 10px 0 10px;
      overflow-x: auto;
      overflow-y: hidden;
      border: 1px solid lightblue;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      -ms-border-radius: 2px;
      -khtml-border-radius: 2px;
      border-radius: 2px; }
    /* line 166, ../../app/stylesheets/admin.scss */
    .columns #main-content div#embed-code-container {
      margin: 10px;
      overflow: auto;
      background-color: #f0f6fe;
      border: 1px solid lightblue;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      -ms-border-radius: 2px;
      -khtml-border-radius: 2px;
      border-radius: 2px; }
      /* line 167, ../../app/stylesheets/admin.scss */
      .columns #main-content div#embed-code-container pre#embed-code {
        font-size: 0.8em;
        margin: 30px;
        overflow: visible; }
    /* line 174, ../../app/stylesheets/admin.scss */
    .columns #main-content #site-select-dropdown {
      float: right;
      margin-right: 123px;
      margin-bottom: 15px;
      margin-top: -3px; }
    /* line 175, ../../app/stylesheets/admin.scss */
    .columns #main-content .approve-toggle-link {
      position: absolute;
      margin-left: 580px;
      padding-top: 20px; }
    /* line 176, ../../app/stylesheets/admin.scss */
    .columns #main-content .recording-divider {
      margin-left: -10px;
      padding-top: 20px;
      padding-bottom: 1px;
      padding-left: 15px;
      width: 663px;
      border-bottom: 1px solid #e2edfe; }
      /* line 183, ../../app/stylesheets/admin.scss */
      .columns #main-content .recording-divider:hover {
        background-color: #d4e4fe; }

/* line 197, ../../app/stylesheets/admin.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* line 209, ../../app/stylesheets/admin.scss */
.columns {
  font-family: 'Helvetica Neu', sans-serif;
  font: 'Helvetica Neu', sans-serif;
  font-weight: 500;
  font-size: 1.2em; }

/* line 210, ../../app/stylesheets/admin.scss */
.columns p {
  font-size: 0.8em;
  margin: 0 0 20px 10px; }

/* line 211, ../../app/stylesheets/admin.scss */
.columns b {
  font-weight: 600; }

/* line 214, ../../app/stylesheets/admin.scss */
.footer-bottom {
  height: 20px;
  background-color: #1d73f7; }
  /* line 217, ../../app/stylesheets/admin.scss */
  .footer-bottom div {
    margin-left: auto;
    margin-right: auto;
    width: 960px; }
    /* line 219, ../../app/stylesheets/admin.scss */
    .footer-bottom div #footer {
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 940px;
      background-color: #7fb0fb; }

/* line 225, ../../app/stylesheets/admin.scss */
.footer-bottom-bottom {
  height: 20px;
  background-color: #043177; }

/*
@include grid-system(12|16|N columns) # => sets up the main 960gs
@include grid-children # => sets up alpha and omega
@include grid(X,N) # => use this like you would use grid_X.  N should equal the total number of columns.  I am not sure why Chris did it this way, but it works.
@include grid-prefix(X,N) # => use this like you would prefix_X.  x = prefix amount, N equals the total number of columns.
@include grid-suffix(X,N) # => use this like you would suffix_X.  N should equal the total number of columns.
@include alpha
@include omega
*/
