/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
/* line 12, ../../app/stylesheets/imports/universal-clear.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* line 21, ../../app/stylesheets/imports/universal-clear.scss */
body {
  line-height: 1; }

/* line 24, ../../app/stylesheets/imports/universal-clear.scss */
ol, ul {
  list-style: none; }

/* line 27, ../../app/stylesheets/imports/universal-clear.scss */
blockquote, q {
  quotes: none; }

/* line 31, ../../app/stylesheets/imports/universal-clear.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
/* line 37, ../../app/stylesheets/imports/universal-clear.scss */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
/* line 42, ../../app/stylesheets/imports/universal-clear.scss */
ins {
  text-decoration: none; }

/* line 45, ../../app/stylesheets/imports/universal-clear.scss */
del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 50, ../../app/stylesheets/imports/universal-clear.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 10, ../../app/stylesheets/screen.scss */
html, body {
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  /* line 13, ../../app/stylesheets/screen.scss */
  html #embeded, body #embeded {
    overflow: hidden; }

/* line 20, ../../app/stylesheets/screen.scss */
#devise {
  background: #ebf4fb; }

/* line 21, ../../app/stylesheets/screen.scss */
.devise {
  /* ----------- My Form ----------- */
  /* ----------- stylized ----------- */ }
  /* line 24, ../../app/stylesheets/screen.scss */
  .devise .devise_form {
    margin: 0 auto;
    width: 400px;
    padding: 14px; }
    /* line 25, ../../app/stylesheets/screen.scss */
    .devise .devise_form .spacer {
      clear: both;
      height: 1px; }
    /* line 26, ../../app/stylesheets/screen.scss */
    .devise .devise_form p, .devise .devise_form h1, .devise .devise_form form, .devise .devise_form button {
      border: 0;
      margin: 0;
      padding: 0; }
    /* line 30, ../../app/stylesheets/screen.scss */
    .devise .devise_form img.profile_pic {
      float: left;
      margin: 0px 10px 0 0;
      max-height: 50px;
      max-width: 50px;
      height: 35px;
      width: 35px; }
  /* line 41, ../../app/stylesheets/screen.scss */
  .devise #stylized {
    background: #ebf4fb;
    overflow: hidden; }
    /* line 42, ../../app/stylesheets/screen.scss */
    .devise #stylized .error {
      margin-left: 151px;
      margin-bottom: 20px;
      width: 200px; }
    /* line 49, ../../app/stylesheets/screen.scss */
    .devise #stylized div.field_with_errors {
      color: #8B0000; }
  /* line 51, ../../app/stylesheets/screen.scss */
  .devise #stylized h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px; }
  /* line 56, ../../app/stylesheets/screen.scss */
  .devise #stylized p {
    font-size: 11px;
    color: #666666;
    margin-bottom: 20px;
    border-bottom: solid 1px #b7ddf2;
    padding-bottom: 10px; }
  /* line 63, ../../app/stylesheets/screen.scss */
  .devise #stylized label {
    display: block;
    font-weight: bold;
    text-align: right;
    width: 140px;
    float: left;
    font-size: 16px; }
  /* line 71, ../../app/stylesheets/screen.scss */
  .devise #stylized .small {
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 140px; }
  /* line 79, ../../app/stylesheets/screen.scss */
  .devise #stylized input {
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 200px;
    margin: 2px 0 20px 10px; }
  /* line 87, ../../app/stylesheets/screen.scss */
  .devise #stylized div.field_with_errors input {
    margin: 2px 0 0px 10px;
    border: solid 2px #CD5C5C; }
  /* line 91, ../../app/stylesheets/screen.scss */
  .devise #stylized div#first div.field_with_errors input {
    margin: 2px 0 20px 10px;
    border: solid 1px #aacfe4; }
  /* line 95, ../../app/stylesheets/screen.scss */
  .devise #stylized input[type="submit"] {
    clear: both;
    margin-left: 150px;
    width: 125px;
    height: 31px;
    text-align: center;
    line-height: 15px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold; }
  /* line 107, ../../app/stylesheets/screen.scss */
  .devise .btn {
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#e6e6e6));
    background-image: -webkit-linear-gradient(white, white 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, white, white 25%, #e6e6e6);
    background-image: -ms-linear-gradient(white, white 25%, #e6e6e6);
    background-image: -o-linear-gradient(white, white 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all; }
  /* line 138, ../../app/stylesheets/screen.scss */
  .devise .btn:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none; }
  /* line 143, ../../app/stylesheets/screen.scss */
  .devise .btn:focus {
    outline: 1px dotted #666; }
  /* line 146, ../../app/stylesheets/screen.scss */
  .devise .btn.primary {
    color: #ffffff;
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
  /* line 162, ../../app/stylesheets/screen.scss */
  .devise .btn.active, .devise .btn:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05); }

/* line 171, ../../app/stylesheets/screen.scss */
.actions {
  margin-bottom: 10px; }

/* line 172, ../../app/stylesheets/screen.scss */
#sucker {
  width: 98%;
  position: absolute;
  top: 4px;
  left: 4px; }
  /* line 177, ../../app/stylesheets/screen.scss */
  #sucker p {
    text-decoration: underline;
    padding-bottom: 3px; }

/* line 182, ../../app/stylesheets/screen.scss */
.social-login {
  display: table;
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center; }
  /* line 190, ../../app/stylesheets/screen.scss */
  .social-login p {
    visibility: hidden;
    position: fixed;
    margin-top: 3px;
    margin-left: 3px;
    color: white; }
  /* line 197, ../../app/stylesheets/screen.scss */
  .social-login:hover p {
    visibility: visible; }
  /* line 198, ../../app/stylesheets/screen.scss */
  .social-login ul {
    display: table-cell;
    vertical-align: middle; }
  /* line 202, ../../app/stylesheets/screen.scss */
  .social-login li {
    padding-top: 15px;
    display: inline-block; }
  /* line 203, ../../app/stylesheets/screen.scss */
  .social-login:hover {
    /* Fallback for web browsers that doesn't support RGBa */
    background: black transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.8);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; }
  /* line 214, ../../app/stylesheets/screen.scss */
  .social-login:hover a.auth_popup {
    position: relative;
    margin: 0px auto;
    width: 110px;
    height: 30px;
    display: block;
    text-indent: -9999px;
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
  /* line 224, ../../app/stylesheets/screen.scss */
  .social-login a#sign-in {
    background: url("../images/authbuttons/login-buttons.png") no-repeat 0 -2px; }
    /* line 226, ../../app/stylesheets/screen.scss */
    .social-login a#sign-in:hover {
      background-position: 0px -33px; }
    /* line 227, ../../app/stylesheets/screen.scss */
    .social-login a#sign-in:active {
      background-position: 0px -64px; }
  /* line 229, ../../app/stylesheets/screen.scss */
  .social-login a#facebook {
    background: url("../images/authbuttons/login-buttons.png") no-repeat -111px -2px; }
    /* line 231, ../../app/stylesheets/screen.scss */
    .social-login a#facebook:hover {
      background-position: -111px -33px; }
    /* line 232, ../../app/stylesheets/screen.scss */
    .social-login a#facebook:active {
      background-position: -111px -64px; }
  /* line 234, ../../app/stylesheets/screen.scss */
  .social-login a#twitter {
    background: url("../images/authbuttons/login-buttons.png") no-repeat -222px -2px; }
    /* line 236, ../../app/stylesheets/screen.scss */
    .social-login a#twitter:hover {
      background-position: -222px -33px; }
    /* line 237, ../../app/stylesheets/screen.scss */
    .social-login a#twitter:active {
      background-position: -222px -64px; }

/* line 242, ../../app/stylesheets/screen.scss */
.authentications {
  margin-bottom: 30px; }

/* line 246, ../../app/stylesheets/screen.scss */
.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px; }

/* line 258, ../../app/stylesheets/screen.scss */
.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px; }

/* line 268, ../../app/stylesheets/screen.scss */
.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

/* line 275, ../../app/stylesheets/screen.scss */
.authentication img {
  float: left;
  margin-right: 10px; }

/* line 280, ../../app/stylesheets/screen.scss */
.authentication .provider {
  font-weight: bold; }

/* line 284, ../../app/stylesheets/screen.scss */
.authentication .uid {
  color: #666;
  font-size: 11px; }

/* line 290, ../../app/stylesheets/screen.scss */
.auth_provider img {
  display: block; }

/* line 294, ../../app/stylesheets/screen.scss */
.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px; }

/* line 303, ../../app/stylesheets/screen.scss */
.embed {
  margin: 0px 0px;
  width: 100%;
  overflow: hidden; }
  /* line 307, ../../app/stylesheets/screen.scss */
  .embed .profile_pic {
    overflow: hidden;
    border: 1px solid #c1c1c1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16); }
  /* line 317, ../../app/stylesheets/screen.scss */
  .embed .left-bar {
    margin: -4px 0px 0px 2px;
    color: grey;
    font-size: 0.9em; }
  /* line 322, ../../app/stylesheets/screen.scss */
  .embed .table-rightside {
    vertical-align: top;
    padding-left: 4px; }
    /* line 325, ../../app/stylesheets/screen.scss */
    .embed .table-rightside p {
      margin: -2px 0px 1px 0px;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 500;
      font-size: 1.2em; }
  /* line 332, ../../app/stylesheets/screen.scss */
  .embed .optional-text {
    overflow: hidden;
    background: white url("/images/backgrounds-sprite.png") 0 -480px repeat-x;
    width: 98%;
    border: 1px solid #c1c1c1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16); }
  /* line 344, ../../app/stylesheets/screen.scss */
  .embed textarea {
    width: 99.2%;
    height: 6em;
    margin: 4px 0px -2px 2px;
    border: none;
    background: transparent;
    overflow: hidden;
    resize: none; }
    /* line 352, ../../app/stylesheets/screen.scss */
    .embed textarea:focus {
      outline: 0; }
  /* line 358, ../../app/stylesheets/screen.scss */
  .embed .expand-bottom {
    border-top: dotted;
    border-width: 1px;
    border-color: grey;
    display: none; }
  /* line 364, ../../app/stylesheets/screen.scss */
  .embed .link {
    margin-left: 2px;
    font-size: 12px;
    line-height: 32px;
    vertical-align: sub; }
  /* line 370, ../../app/stylesheets/screen.scss */
  .embed .vouch-button {
    float: right;
    margin: -1px -1px -1px 0px;
    padding: 8px 20px;
    font-size: 12px;
    line-height: 14px;
    color: #585c60;
    background: url("/images/backgrounds-sprite.png") 0 -250px repeat-x;
    border: 1px solid #acb2b8;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.4), inset -1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(72, 76, 80, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(72, 76, 80, 0.25);
    box-shadow: 0 1px 2px rgba(72, 76, 80, 0.25);
    font-weight: 600;
    right: -1px;
    top: -1px;
    z-index: 2;
    height: 34px; }
    /* line 391, ../../app/stylesheets/screen.scss */
    .embed .vouch-button:hover {
      background: url("/images/backgrounds-sprite.png") 0 -310px repeat-x; }
    /* line 392, ../../app/stylesheets/screen.scss */
    .embed .vouch-button:active {
      background: url("/images/backgrounds-sprite.png") 0 -370px repeat-x;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      padding-top: 9px;
      padding-bottom: 7px; }

/* line 403, ../../app/stylesheets/screen.scss */
.embed-banner {
  overflow: hidden;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  /* line 406, ../../app/stylesheets/screen.scss */
  .embed-banner table {
    margin: 0px 0px;
    width: 100%;
    overflow: hidden; }
  /* line 412, ../../app/stylesheets/screen.scss */
  .embed-banner .profile_pic {
    margin-top: 4px;
    margin-left: 5px;
    overflow: hidden;
    border: 1px solid #c1c1c1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16); }
  /* line 425, ../../app/stylesheets/screen.scss */
  .embed-banner .left-bar {
    margin: -4px 0px 0px 6px;
    color: grey;
    font-size: 0.9em; }
  /* line 431, ../../app/stylesheets/screen.scss */
  .embed-banner .table-rightside {
    padding-top: 4px;
    vertical-align: top;
    padding-left: 4px;
    width: 100%; }
    /* line 436, ../../app/stylesheets/screen.scss */
    .embed-banner .table-rightside p {
      margin: -2px 4px 1px 0px;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 500;
      font-size: 0.9em; }
  /* line 444, ../../app/stylesheets/screen.scss */
  .embed-banner .optional-text {
    overflow: hidden;
    background: white url("/images/backgrounds-sprite.png") 0 -480px repeat-x;
    /* TODO: Required to change width */
    margin-right: 9px;
    /*    width: 93%;*/
    border: 1px solid #c1c1c1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.16); }
  /* line 459, ../../app/stylesheets/screen.scss */
  .embed-banner .text-area {
    height: 34px; }
    /* line 461, ../../app/stylesheets/screen.scss */
    .embed-banner .text-area textarea {
      background: transparent;
      border: none;
      overflow: hidden;
      resize: none; }
      /* line 466, ../../app/stylesheets/screen.scss */
      .embed-banner .text-area textarea:focus {
        outline: 0; }
  /* line 472, ../../app/stylesheets/screen.scss */
  .embed-banner .short-text {
    /* TODO: Required to change width */
    width: 67%;
    /*	width:80%;  */
    height: 2em;
    margin: 4px -5px 3px 2px;
    border: none;
    overflow: none;
    resize: none; }
  /* line 483, ../../app/stylesheets/screen.scss */
  .embed-banner .vouch-button {
    width: 30%;
    float: right;
    margin: -1px -1px -1px 0px;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 14px;
    color: #585c60;
    background: url("/images/backgrounds-sprite.png") 0 -250px repeat-x;
    border: 1px solid #acb2b8;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
    -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.4), inset -1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(72, 76, 80, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(72, 76, 80, 0.25);
    box-shadow: 0 1px 2px rgba(72, 76, 80, 0.25);
    font-weight: 300;
    z-index: 2;
    height: 35px; }
    /* line 507, ../../app/stylesheets/screen.scss */
    .embed-banner .vouch-button:hover {
      background: url("/images/backgrounds-sprite.png") 0 -310px repeat-x; }
    /* line 510, ../../app/stylesheets/screen.scss */
    .embed-banner .vouch-button:active {
      background: url("/images/backgrounds-sprite.png") 0 -370px repeat-x;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      padding-top: 9px;
      padding-bottom: 7px; }
  /* line 520, ../../app/stylesheets/screen.scss */
  .embed-banner .expand-bottom {
    border-top: dotted;
    border-width: 1px;
    border-color: grey;
    display: none; }
    /* line 525, ../../app/stylesheets/screen.scss */
    .embed-banner .expand-bottom a {
      margin-left: 2px;
      font-size: 12px;
      line-height: 12px; }

/* line 536, ../../app/stylesheets/screen.scss */
.bold {
  font-weight: bold; }
