/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 26, ../../app/stylesheets/screen.scss */
div#iavouch_content_3.iavouch_3_reset table tbody tr td.table-rightside p {
  text-decoration: underline; }
/* line 47, ../../app/stylesheets/screen.scss */
div#iavouch_content_3.iavouch_3_reset div.iavouch_mast div.iavouch_lanyard_wrapper div.comments {
  width: 450px; }
  /* line 49, ../../app/stylesheets/screen.scss */
  div#iavouch_content_3.iavouch_3_reset div.iavouch_mast div.iavouch_lanyard_wrapper div.comments div.comments-header {
    width: 450px; }
  /* line 69, ../../app/stylesheets/screen.scss */
  div#iavouch_content_3.iavouch_3_reset div.iavouch_mast div.iavouch_lanyard_wrapper div.comments div.comments-each table.review-container tbody tr td.table-rightside div.review-each {
    width: 372px; }
    /* line 71, ../../app/stylesheets/screen.scss */
    div#iavouch_content_3.iavouch_3_reset div.iavouch_mast div.iavouch_lanyard_wrapper div.comments div.comments-each table.review-container tbody tr td.table-rightside div.review-each div#audiojs_wrapper0.audiojs {
      width: 372px; }
      /* line 73, ../../app/stylesheets/screen.scss */
      div#iavouch_content_3.iavouch_3_reset div.iavouch_mast div.iavouch_lanyard_wrapper div.comments div.comments-each table.review-container tbody tr td.table-rightside div.review-each div#audiojs_wrapper0.audiojs object#audiojs0 {
        position: absolute;
        left: -1px; }
      /* line 93, ../../app/stylesheets/screen.scss */
      div#iavouch_content_3.iavouch_3_reset div.iavouch_mast div.iavouch_lanyard_wrapper div.comments div.comments-each table.review-container tbody tr td.table-rightside div.review-each div#audiojs_wrapper0.audiojs div.scrubber {
        width: 218px; }
        /* line 95, ../../app/stylesheets/screen.scss */
        div#iavouch_content_3.iavouch_3_reset div.iavouch_mast div.iavouch_lanyard_wrapper div.comments div.comments-each table.review-container tbody tr td.table-rightside div.review-each div#audiojs_wrapper0.audiojs div.scrubber div.progress {
          width: 48px; }
        /* line 98, ../../app/stylesheets/screen.scss */
        div#iavouch_content_3.iavouch_3_reset div.iavouch_mast div.iavouch_lanyard_wrapper div.comments div.comments-each table.review-container tbody tr td.table-rightside div.review-each div#audiojs_wrapper0.audiojs div.scrubber div.loaded {
          width: 218px; }
    /* line 121, ../../app/stylesheets/screen.scss */
    div#iavouch_content_3.iavouch_3_reset div.iavouch_mast div.iavouch_lanyard_wrapper div.comments div.comments-each table.review-container tbody tr td.table-rightside div.review-each div.trans {
      display: none; }
/* line 131, ../../app/stylesheets/screen.scss */
div#iavouch_content_3.iavouch_3_reset div.iavouch_mast div.iavouch_lanyard_wrapper div {
  clear: both; }
