<div id="social-login">
  <ul>
    <li><%= link_to "", user_omniauth_authorize_path(:linked_in), :id => "linkedin" %></li> 
	<li><%= link_to "", user_omniauth_authorize_path(:facebook), :id => "facebook" %></li>
	<li><%= link_to "", user_omniauth_authorize_path(:twitter), :id => "twitter" %></li> 
  </ul>
</div>