/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "960/grid";

div#iavouch_content_3.iavouch_3_reset {
  iframe#coolframe {
  }
  a.auth_popup {
  }
  p.notice {
  }
  p.alert {
  }
  table {
    tbody {
      tr {
        td#profile-container {
          img.profile_pic {
          }
        }
        td.table-rightside {
          p {
            text-decoration: underline;
          }
          div.optional-text {
            div.text-area {
              textarea.short-text {
              }
            }
            div.expand-bottom {
              a.link {
              }
              input.vouch-button {
              }
            }
          }
        }
      }
    }
  }
  div.iavouch_mast {
    div.iavouch_lanyard_wrapper {
      div.comments {
        width: 450px;
        div.comments-header {
          width: 450px;
          div.grid_6 {
          }
          div.toggle-synopsis-off {
          }
        }
        div.clear {
        }
        div.comments-each {
          table.review-container {
            tbody {
              tr {
                td {
                  img.profile_pic {
                  }
                }
                td.table-rightside {
                  p {
                  }
                  div.review-each {
                    width: 372px;
                    div#audiojs_wrapper0.audiojs {
                      width: 372px;
                      object#audiojs0 {
                        position: absolute;
                        left: -1px;
                        param {
                        }
                        embed {
                        }
                      }
                      audio {
                      }
                      div.play-pause {
                        p.play {
                        }
                        p.pause {
                        }
                        p.loading {
                        }
                        p.error {
                        }
                      }
                      div.scrubber {
                        width: 218px;
                        div.progress {
                          width: 48px;
                        }
                        div.loaded {
                          width: 218px;
                        }
                      }
                      div.time {
                        em.played {
                        }
                        strong.duration {
                        }
                      }
                      div.error-message {
                      }
                      table {
                      }
                    }
                    div.review-left {
                    }
                    div.review-right {
                      b.bold {
                      }
                    }
                    div.clear {
                    }
                    div.trans {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
      div {
        clear:both;
      }
    }
  }
}