<% content_for :body do -%>
  <body id='home'>  
<% end -%>

<div class="slogan">
	<h3 style="font-size:37px;">Your most compelling business references.</h3>
	<h3>Anywhere. Everywhere. Confirmed & Immortalized.</h3>
	<!-- <h3>Your most compelling business references.</h3> <h3>Anywhere. Everywhere.</h3> -->
</div>

<%= render 'shared/social_login' %>

<div id="features"><p style="margin-bottom: 0px">for authentication only. we ensure your privacy, use no tracking, and don't share data. no robots or review farms allowed.</p><p style="margin-top: 5px">we intentionally make this difficult up front. because trustworthy references matter.</p></div>