<% content_for :body do -%>
  <body id='home'>  
<% end -%>

<div class="slogan">
	<h3 style="font-size:37px;">Your most compelling business references.</h3>
	<h3>Anywhere. Everywhere. Confirmed & Immortalized.</h3>
	<!-- <h3>Your most compelling business references.</h3> <h3>Anywhere. Everywhere.</h3> -->
</div>

<!-- <a class="example iframe" rel="group1" title="Vertical embed for pages with a lot of space" href="images/embed-example.png"><p>expand</p></a>
<a class="example iframe" rel="group1" title="Vertical embed for pages with a lot of space" href="images/embed-example.png" style="display:none;"><p>expand</p></a>

<div class="why">
<p>Have you hit the wall with A/B testing?</p> 

<p>Trying to eke out a 0.1% improvement on your landing pages... by changing the shade of red on your "buy now" button?</p>

<p>We hit that wall too.</p>

<p>This is the solution.</p>

</div> -->
<!-- <p style="width:400px;font-size:40px;nowrap">Increase conversion 50%</p> -->
<%= render 'shared/social_login' %>

<div id="features"><p style="margin-bottom: 0px">for authentication only. we ensure your privacy, use no tracking, and don't share data. no robots or review farms allowed.</p><p style="margin-top: 5px">we intentionally make this difficult up front. because trustworthy references matter.</p></div>

