<% content_for :body do -%>
  <body id='home'>  
<% end -%>

<div class="slogan">
	<h3>Your most compelling business references.</h3> <h3>Anywhere. Everywhere.</h3>
</div>

<%= render 'shared/social_login' %>

<div id="features"><p>for authentication only</p></div>