@import "embed-clear";
@import "compass/css3";


#iavouch_mast { //  this is for embed style 3
	.comments{ .comments-each{ table.review-container{ width:100%; }}}
	.bold{ font-weight:400; }
	.toggle{ 
		font-weight: bold;
		background-color:lightgrey;
		padding-bottom:2px;
		line-height:20px; 
	}
	.comments-header{ padding-bottom:40px; }
	.toggle-synopsis{ 
		float:right;
		margin:0px 2% 0px 0px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 600;
		font-size:1em; 
	}
	.toggle-synopsis-off{
		float:right;
		margin:0px 2% 0px 0px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 600;
		font-size:1em; 
	}	
	.grid_6{
		float:left;
		margin:0px 0px 0px 0px;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 600;
		font-size:1em; 
	}
	.comments-each{ margin-bottom:20px; }	
	.comments{
		margin-top:10px;
		width:580px; 
	}
	.review-container{ td{ vertical-align:top; }}
	.profile_pic{
		overflow:hidden;
		border: 1px solid #c1c1c1;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0, .16);
		-moz-box-shadow: inset 0 1px 4px rgba(0,0,0, .16);
		box-shadow: inset 0 1px 4px rgba(0,0,0, .16); 
	}
	.table-rightside{
		vertical-align:top;
		padding-left:4px;
		p{
			margin: -2px 0px 1px 0px;
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-weight: 500;
			font-size:1.1em; }
	}
	.review-each{ width:500px; }
	//	begin audiojs related styles
	.audiojs{
		width: 500px; height: 22px; background: #404040; overflow:hidden; font-size: 12px;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
		background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
		-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
		-o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
		.play-pause{ width: 15px; height: 20px; padding: 0px 8px 0px 0px; }
		p{ width: 25px; height: 20px; margin: -3px 0px 0px -1px; }
		.scrubber{ width: 350px; background: #5a5a5a; height: 10px; margin: 5px; }
		.progress{ 
			height: 10px; width: 0px; background: #ccc;
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));
			background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%); }
		.loaded{ width: 350; height: 10px; background: #000;
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
			background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%); }
		.time{ float: left; height: 22px; line-height: 22px; }
		.error-message{ height: 24px;line-height: 24px; }
	}
	.track-details{ 
		clear: both; height: 20px; width: 448px; padding: 1px 6px; background: #eee; color: #222; font-family: monospace; font-size: 11px; line-height: 20px;
		-webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15); 
	}
	.track-details:before{ content: '♬ '; }
	.track-details em{ font-style: normal; color: #999; }	
	//	end audiojs related styles
	.review-left{ float:left; }
	.review-right{ float:right; }
	.trans{ background-color: lightgrey; }
}	





/* #iavouch 3*/
	/* #iavouch content 3*/
		/* .iavouch mast*/ 
			/* .iavouch lanyard wrapper */
				/* .comments*/
					/* .comments_header*/
					/* .comments_each */
						/* table */
							/* tr */
								/* td */ 
									/* img .profile_pic */
								/* td */
									/* table .right-side*/
/* Start embed header */
/* start comments header*/



#iavouch-container{
	/*  margin-left:10px;	margin-top:10px;  TODO: Required to change width */
	width:582px;  
	/*  width:400px;*/
	height:73px;
	font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;    
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	&:hover{
		overflow:none; 
		@include background-image(linear-gradient(#FCFCFC, #F7F7F7 3%, #F2F2F2 12%, #D9D9D9 90%, #BFBFBF));  
	  	@include box-shadow(grey 0px 1px 5px); 
		background-image: -webkit-linear-gradient(top, rgba(252, 252, 252, 0.296875), rgba(247, 247, 247, 0.296875) 3%, rgba(242, 242, 242, 0.296875) 12%, rgba(217, 217, 217, 0.296875) 90%, rgba(191, 191, 191, 0.296875)); 
		background-attachment: initial; 
		background-origin: initial; 
		background-clip: initial;


	// margin-top:-1px;
	// margin-left:-1px;
	// border: 1px solid #f0f0f0;
	// border-bottom: 2px solid #ccc;
	// -webkit-border-radius: 5px;
	// -moz-border-radius: 5px;
	// border-radius: 5px;


		//  @include single-box-shadow;    
		//	background-color: initial; -webkit-box-shadow: rgba(0, 0, 0, 0.746094) 0px 1px 5px; 
		//	border-top-left-radius: 0px 0px; 
		//	border-top-right-radius: 0px 0px; 
		//	border-bottom-right-radius: 0px 0px; 
		//	border-bottom-left-radius: 0px 0px; 
		//	background-position: initial initial; 
		//	background-repeat: initial initial;      	
	} 
	a, p{ color: black;}
	.avouchlogo{
		background-color:transparent;
		position: relative;
		float:right;
		// TODO: This was added when position was changed to absolute for firefox, may need to be changed again
		margin-bottom:-21px;
		margin-top: -21px;
		padding-bottom:2px;
		display:none;
		a{
			background-color:white;
			padding-left:5px;
		}

	}
	.iavouch-comment-holder{       
		margin:0px 0px;
		width:100%;
		overflow:hidden;
	}
	.left-bar{
		margin:-4px 0px 0px 6px;
		color:grey;
		font-size: 0.9em;
	}
	.iavouch-review-rightside{
		vertical-align:top;
		padding-left:4px;
		p{
			margin: -2px 0px 1px 0px;
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-weight: 500;
			font-size:1.2em;
		}	
	}
	#leaveareview{ 
		.iavouch-review-rightside{ 
			p{
				margin: -2px 0px 1px 0px;
				font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
				font-weight: 500;
				font-size:0.9em;
			}
		}
	}
	.iavouch-review-details{
		/* TODO: Required to change width */  
		width:500px;
		/*		width:325px;*/
	}
	.expand-bottom{
		border-top:dotted;
		border-width: 1px;
		border-color: grey;
		display:none;
	}
	.link{ 
		margin-left: 2px;
		font-size: 12px;
		line-height: 12px;
		vertical-align: sub;
	}
	.profile-pic {
		margin-left:5px;
		overflow:hidden;
		border: 1px solid #c1c1c1;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0, .16);
		-moz-box-shadow: inset 0 1px 4px rgba(0,0,0, .16);
		box-shadow: inset 0 1px 4px rgba(0,0,0, .16);
	}
	.vouch-button {
		float:right;
		margin: -1px -1px -1px 0px;
		padding: 6px 10px;
		font-size: 14px;
		line-height: 14px;
		color: #585c60;
		background: url("../images/backgrounds-sprite.png") 0 -250px repeat-x;
		border: 1px solid #acb2b8;
		text-shadow: 0 1px 0 rgba(255,255,255, .9);
		-webkit-border-radius: 0 0 4px 0;
		-moz-border-radius: 0 0 4px 0;
		border-radius: 0 0 4px 0;
		-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255, .4), inset -1px 0 0 rgba(255,255,255, .4) ,0 1px 2px rgba(72,76,80, .25);
		-moz-box-shadow: 0 1px 2px rgba(72,76,80, .25);
		box-shadow: 0 1px 2px rgba(72,76,80, .25);
		font-weight: 300;
		z-index: 2;
		height: 35px;
		&:hover { background: url("../images/backgrounds-sprite.png") 0 -310px repeat-x; }
		&:active {
			background: url("../images/backgrounds-sprite.png") 0 -370px repeat-x;
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255, .8);
			-moz-box-shadow: 0 1px 0 rgba(255,255,255, .8);
			box-shadow: 0 1px 0 rgba(255,255,255, .8);
			padding-top: 9px;
			padding-bottom: 7px;
		}
	}
	.optional-text {
		overflow:hidden;
		background: #fff url("../images/backgrounds-sprite.png") 0 -480px repeat-x;  
		/* TODO: Required to change width */   
		margin-right:23px;
		/*    width: 93%;*/
		border: 1px solid #c1c1c1;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0, .16);
		-moz-box-shadow: inset 0 1px 4px rgba(0,0,0, .16);
		box-shadow: inset 0 1px 4px rgba(0,0,0, .16);
	}
	.short-text{ 
		/* TODO: Required to change width */  
		width:60%;
		/*	width:80%;  */
		height:2em;
		margin:4px 0px 3px 2px;
		border:none;
		overflow:none;
		resize: none;
	}
	.comments{
		margin-top:30px; 
	}
	.trans{
		background-color: lightgrey;
	}
	.audiojs{
		/* TODO: Required to change width */     
		width: 500px; 
		/*	width: 325px; */
		height: 22px; background: #404040;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
		background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
		-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
		-o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); 
	}
	.audiojs .play-pause { width: 15px; height: 20px; padding: 0px 8px 0px 0px; }
	.audiojs p { width: 25px; height: 20px; margin: -3px 0px 0px -1px; }
	.audiojs .scrubber {
		/* TODO: Required to change width */     
		width: 350px; 
		/*	width: 175px; */
		background: #5a5a5a; height: 10px; margin: 5px; 
	}
	.audiojs .progress { height: 10px; width: 0px; background: #ccc;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));
		background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%); 
	}
	.audiojs .loaded { 
		/* TODO: Required to change width */ 
		width: 350;   
		/*		width: 175;*/
		height: 10px; background: #000;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
		background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%); 
	}
	.audiojs .time { float: left; height: 25px; line-height: 22px; }
	.audiojs .error-message { height: 24px;line-height: 24px; } 
	.track-details { clear: both; height: 20px; width: 448px; padding: 1px 6px; background: #eee; color: #222; font-family: monospace; font-size: 11px; line-height: 20px;
		-webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15); }
	.track-details:before { content: '♬ '; }
	.track-details em { font-style: normal; color: #999; }
	.iavouch-review-date{ float:left; }            
	.iavouch-review-sharing{ float:right; }
	// scroll container info
	.iavouch-scroll-container{          
		height:100%;
		/* TODO: Required to change width */ 
		// width:1200px; 
		/*  width:400px; */
		padding:0px;  
		position:relative;
		clear:left;
		overflow:hidden;
		overflow-x:hidden;
		div#leavereview{
			padding-top:0px;
		}
		div.iavouch-comment-container{
			/* TODO: Required to change width */ 
			width:600px; 
			/*  width:420px;*/
			height:93px;
			padding-top:4px;
		}
	}
	.iavouch-scroll-navigation { 
		display: none;
		height:25px;
		padding:0px 10px 0px 10px;
		/* background                                                */
		background: #178afc; /* Old browsers */
		background: -moz-linear-gradient(top, #178afc 0%, #167fe8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#178afc), color-stop(100%,#167fe8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #178afc 0%,#167fe8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #178afc 0%,#167fe8 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #178afc 0%,#167fe8 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#178afc', endColorstr='#167fe8',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #178afc 0%,#167fe8 100%); /* W3C */
		background-image: -webkit-gradient(linear, center top, center bottom, from(#178afc), to(#167fe8));
		background-attachment: initial; 
		background-origin: initial; 
		background-clip: initial; 
		background-color: initial;      
		/*box shadow*/
		-webkit-box-shadow: 0px 3px 4px #444445;
		-moz-box-shadow: 0px 3px 4px #444445;
		box-shadow: 0px 3px 4px #444445;
		-webkit-box-shadow: rgba(0, 0, 0, 0.546875) 0px 3px 4px; 
		border-top-left-radius: 0px 0px; 
		border-top-right-radius: 0px 0px; 
		border-bottom-right-radius: 5px 5px; 
		border-bottom-left-radius: 5px 5px; 
		background-position: initial initial; 
		background-repeat: initial initial;
		float:right;z-index: 42;
		position:absolute;
	}
	.iavouch-scroll-navigation{
		#navtoreview{ // TODO: add to resize JQUERY
			padding-left:340px;
			padding-bottom:20px;
			position:absolute;
			width: 120px;
			margin-top:0px;
			z-index: -2;
			a{
				z-index: 42;
			}
			.selected{
				background-color: lightgrey;
			}
		}
		a{
			margin:3px 3px 0px 3px;
			float:left;
		}
		ul.iavouch-navigation-list{ 
			list-style:none;
			display: inline; 
			margin:0px;
			padding:0px;
			li{
				display: inline;
				margin:0px;
				padding:0px;
			}	
			a.selected{ background-color: #fff; }
			a:hover { background-color: #f6f6f6; }
		}
	}  
}
